<!-- <hello name="{{ name }}"></hello> -->
<div style="padding-left: 50px; padding-right: 50px;">
<p>
  Press the button below :))
</p>
<button (click)="toggle()">COSTING</button>
<br>
<br>
<div *ngIf="show == false else notShow">
<app-cost-over-view ></app-cost-over-view>
<br>
<br>
<div fxLayout="row" >
    <app-service-breakdown></app-service-breakdown>
    <app-piechart></app-piechart>
</div>
<div fxLayout="row" >
    <app-instance-list ></app-instance-list>
    <app-bar-chart ></app-bar-chart>
</div>
</div>
<ng-template #notShow> </ng-template>

