#instance {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size:14px;
}
#instance td, #instance th {
    text-align: right;
}
#instance tr:nth-child(even){background-color: #f2f2f2;}
#instance tr:hover {background-color: #ddd;}
#instance th {
    text-align: center;
  }
  